<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="DrawerLayout_V7_Tutorial.DrawerLayout_V7_Tutorial">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="21" />
	<application android:label="DrawerLayout_V7_Tutorial"></application>
</manifest>